.header{
	position: relative;
	width: 100%;
	overflow: hidden;
	a{
		float: left;
		width: 32.3%;
		img{
			width: 100%;
			height: auto;
		}
	}
	.description{
		float: left;
		margin-top: 10%;
		margin-left: -16%;
		font-size: 20px;
		color: #A4C1B2;
	}
}